body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}
h1, h2 {
    color: #8a0774;
}
p{
    color: #0c964a;
}
img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}